@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    float: left; 
    font-family: "Inter", sans-serif;

}
.container-center{
    width: 100%;
    float: left;
}
.header{
    width: 100%;
    float: left;
    /* height: 90px; */
    /* border: 5px solid black; */
    font-size: 45px;
    text-align: center;
    
    
    background-color: black;
    color: white;
    /* padding-top: 10px; */
    position: fixed;
}
.header img{
    width: 160px;
    /* height: 90px; */
    /* padding-top: 10px; */
}
.bannar{
    width: 100%;
    height: 700px;
    float: left;
    background-image: url('images/bannar.webp');
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 5px solid red; */
    
}
.h1-line{
    width: 100%;
    height: 70px;
    clear: both;
    /* text-align: center; */
    /* padding-top: 10px; */
    /* border: 3px solid red; */
    padding-top: 25px;
}
.h1-line-center{
    width: 80%;
    height: 70px;
    margin: 0 auto;
    padding-left: 20px;
}
.h1-line1{
    width: 100%;
    height: 70px;
    clear: both;
    /* text-align: center; */
    padding-top: 10px;
    /* border: 3px solid red; */
    padding-top: 20px;
}
.h1-line1-center{
    width: 80%;
    height: 70px;
    margin: 0 auto;
    /* padding-left: 20px; */
}
.h1{
    
    /* font-family: Inter; */
    font-size: 30px;
    font-weight: 700;
    /* padding-left: 20px; */
    /* margin-top: 20px; */
}
.collection-row{
    width: 100%;
    /* height: 500px; */
    float: left;
    
}
.collection-row-center{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    /* border: 4px solid black; */
    
}
.col1{
    width: 23%;
    height: 350px;
    float: left;
    /* border: 4px solid black; */
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 15px;
    background-image: url('images/col1.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.col2{
    width: 23%;
    height: 350px;
    float: left;
    /* border: 4px solid black; */
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 15px;
    background-image: url('images/col2.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.col3{
    width: 23%;
    height: 350px;
    float: left;
    /* border: 4px solid black; */
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 15px;
    background-image: url('images/col3.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.col4{
    width: 23%;
    height: 350px;
    float: left;
    /* border: 4px solid black; */
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 15px;
    background-image: url('images/col4.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}
.box1{
    width: 100%;
    float: left; 
    /* text-align: center; */
    margin-top: 30px;
}
.container2 {
    width: 80%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    /* border: 5px solid red; */
  }
  .product {
    width: 29%;
    float: left;
    text-align: center;
    padding: 20px 20px;
    /* border: 5px solid #ec6f66; */
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .product-image{
    width: 100%;
    height: 300px;
    /* border: 5px solid #dd0f00; */
  }
  .button{
    background-color: #ec6f66;
    color: white;
    padding: 9px 30px;
    border: none;
    border-radius: 6px;
    
  }
  .price{
    margin: 10px;
  }
  .box1{
    display: flex;
    align-items: center;
    justify-content: center; 
    float: left;
  }
  
  .popup {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30vh;
  }
  
  .popup h1 {
    position: fixed;
    top: 20vh;
    width: 350px;
    /* background-color: rgb(0, 0, 0); */
    color: red;
  }
.footer{
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    float: left;
    margin-top: 30px;
    font-size: 24px;
    padding-top: 20px;
}
/* 
.bannar1{
    width: 100%;
    height: 700px;
    float: left;
 
    border: 5px solid red;
    
}
.bannar1-center{
    width: 80%;
    height: 700px;
    margin: 0 auto;
    background-image: url('images/bannar2.webp');
    background-repeat: no-repeat;
    background-size: cover;
} */